{% extends "layout.html" %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=yes">
    <link rel="stylesheet" type="text/css" href="../static/js/slick/slick.css">
    <link rel="stylesheet" type="text/css" href="../static/js/slick/slick-theme.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.4/css/all.css">
    <link rel="stylesheet" type="text/css" href="../static/css/backTop.css">
    <link rel="stylesheet" type="text/css" href="../static/css/a.css">
    <link rel="stylesheet" type="text/css" href="../static/css/detail.css">
    <title>詳細</title>
</head>
<body background="../static/img/aa.jpg">
    
<main>
    <div class="shop_detail">    
        <h2>ROB PHOTONS</h2>
        <div class="slick2">
            <img src="../static/img/dbz.jpg" alt="画像1">
            <img src="../static/img/パフェ.jpg" alt="画像2">
            <img src="../static/img/南昌壮.jpg" alt="画像3">
        </div>
        <div class="syoukai">
            NAGASAWA COFFEEは震災でのボランティアをきっかけにオープンしたコーヒー店です。
            店主の長澤さんはコーヒー業界では有名なSPRUDGEから日本人で唯一コーヒーの仕事で世界を変えた20人に選ばれています。
            フルーティーな甘みがあるのが特徴な浅煎りコーヒーがメインとなっており、ラテが人気です。
            ガトーショコラとの相性もバッチリです。
        </div>
    </div>
    <div id="top"><a href="#"></a></div>
    <div class="sns">
        <h3>このサイトをシェアして欲しいな～!</h3>
        <a href="https://social-plugins.line.me/lineit/share?text=盛岡のインスタ映えスポット!&url=https://www.google.com"><img src="../static/img/ライン.jpg"></a>
        <a href="https://twitter.com/share?text=盛岡のインスタ映えスポット!&url=https://www.google.com"><img src="../static/img/ツイッター.jpg"></a>
        <a href="http://www.facebook.com/share.php?u=https://www.google.com"><img src="../static/img/フェイスブック.png"></a>
        <a href="https://www.instagram.com"><img src="../static/img/インスタ.png"></a>
        <div class="copy"><button onclick="copyUrl()" id="sns_button">コピー</button>　?instagramの方はコピーしてください</div>
    </div>



    <div class="info"><h2>店舗情報</h2></div>
    <div class="info2">
        <table border="1" width=90% cellspacing="0">
            <tr>
                <th>店名</th>
                <td colspan="2">NAGASAWA COFFEE</td>
            </tr>
            <tr>
                <th>営業時間</th>
                <td colspan="2">営業日:毎週11:00～20:00<br>定休日:毎週木曜日</td>
            </tr>
            <tr>
                <th>住所</th>
                <td id="pref">020-0021 岩手県盛岡市上田1丁目11-23
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d49106.64814982337!2d141.143568!3d39.713463!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xf6745169e7300edb!2sNagasawa%20COFFEE!5e0!3m2!1sja!2sjp!4v1640052609508!5m2!1sja!2sjp" width="90%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </td>
            </tr>
            <tr>
                <th>交通手段</th>
                <td colspan="2">
                    電車:上盛岡駅から徒歩9分(本数は少なめ)
                    バス:松園営業所行きに乗車、盛岡一高前バス停で下車して徒歩2分
                </td>
            </tr>
            <tr>
                <th>備考</th>
                <td colspan="2">3台分の無料駐車場、向かいにダイヤパーク5台分(40分100円)有り。<br>
                                ダイヤパーク利用の際に1000以上の利用で40分サービス券を配布しています。                
                </td>
            </tr>
        </table>
    </div>
    <div class="similar">
        <h2>類似スポット</h2>
        <div class="similar_info">
            <div class='grid-item'>
                <img src="../static/img/パフェ.jpg">
                <br>
                <h3>名前</h3>
                料金:￥500
                <br>
                詳細
            </div>
            <div class='grid-item'>
                <img src="../static/img/パフェ.jpg">
                <br>
                <h3>名前</h3>
                料金:￥500
                <br>
                詳細
            </div>
            <div class='grid-item'>
                <img src="../static/img/パフェ.jpg">
                <br>
                <h3>名前</h3>
                料金:￥500
                <br>
                詳細
            </div>
        </div>
    </div>
</main>

    <script src="../static/js/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/clipboard.js/1.5.13/clipboard.min.js"></script>
    <script type="text/javascript" src="../static/js/slick/slick.min.js"></script>
    <script type="text/javascript" src="../static/js/common.js"></script>
    <script type="text/javascript" src="../static/js/a.js"></script>
</body>
{% endblock %}